html {
    background-color: #eeeeee;
}
body {
    min-width: 1072px;
}
.tabs-left {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: none;
}
.tabs-left>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
  background-color: #34a853;
  font-size: 2em;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  transition: background 0.5s, color 0.5s;
}

.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
  color: #ffffff;
  transition: background 0.5s, color 0.5s;
}

.tabs-left>li>a:hover {
  color: #000000;
  transition: background 0.5s, color 0.5s;
}

.div-table {
    max-height: 550px;
    overflow-y: auto;
}

.tab-pane>p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #555;
}
.tab-pane>p>span{
    font-size: 1.5em;
    color: #34a853;
}

.tab-content {
    margin-top: 1.5em;
}
#canvasContener2 {
    max-width: 500px;
    overflow: hidden;
    position: relative;
    left: 10;
    top: -315px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

}
#axis {
    position: relative;;
    left: 0;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#canvasContener {
    max-height: 400px;
    overflow-y: hidden;
}
.div-table-title {
    background-color: #36bd51;
    font-size: 1.1em;
    color: #eeeeee;
    line-height: 2em;
}
.clear-float {
    clear: both;
}
.new {
    line-height: 1.8em;
    border-bottom: 1px solid;

    margin-bottom: 2px;
    border-color: #36bd51;
    background-color: #eeeeee;
}
#pid:hover, #mem:hover {
    background-color: #34a853;
    cursor:pointer;
}
